<div class="row bg-gray-1">
    <div class="col-md-12">
        <div>
            <div class="form-row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 offset-md-3">
                    <input type="text" class="input-search text-center" [(ngModel)]="city"  (keydown.enter)="eventSearch($event)" value="medellin" placeholder="City">
                </div>
            </div>
        </div>
    </div>
</div>

<app-city-weather [weather]="cityWeather" [cityInfo]="cityInfo"></app-city-weather>