.input-search {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 10px auto;
}

.input-search:focus {
    outline: none;
}

.input-search:focus::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.input-search:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.input-search:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.input-search:focus::-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
}